.performance {
    background-color: white;
}

.performance-logo {
    margin-bottom: 20px;
}

.performance-logo__background {
    position: relative;
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 960px) {
		max-width: 555px;
    }
    
    @media (min-width: 1024px) {
		max-width: 768px;
	}
}

.performance-logo__content {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: white;

    @media (min-width: 960px) {
		top: 70px;
    }

    @media (min-width: 1024px) {
		top: 100px;
	}
}

.performance-logo__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: 960px) {
        font-size: 15px;
    }
}

.performance-logo__sub-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: 960px) {
        font-size: 15px;
    }
}

.performance-title__inner {
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 960px) {
        max-width: 555px;
    }

    @media (min-width: 1024px) {
		max-width: 768px;
	}
}

.performance-title__image {
    padding-bottom: 20px;
}

.performance-title__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .performance-title__line--left {
    height: 15px;
    width: 200px; 
    margin-right: 20px;
    margin-bottom: 10px;
 }

 .performance-title__line--right {
    height: 15px;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
 }

.performance-title__label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    text-align: center;

    @media (min-width: 960px) {
        font-size: 36px;
    }
}

.performance-title__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.performance-title__button {
    padding: 5px 20px;
    border: 4px solid #f37b1b;
    border-radius: 45px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    margin: 0 5px 20px 5px;
}

.performance-title__button--name {
    width: 350px;
    // margin-right: 10px;
    text-align: center;
}

.performance-title__button--name {
    text-align: center;
}

.performance-title__button-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f37b70;
}

.performance-title__button-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px ;
    font-weight: bold;
    text-transform: uppercase;
}

.performance-title__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.performance-table__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 40px;
}

.performance-table__col--left {
    position: relative;
    margin-right: 30px;

    table {
        position: absolute;
        top: 77px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;

        th {
            font-family: 'Montserrat', sans-serif;
            font-size: 25px ;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            padding: 5px 10px;
            width: 189px;
            color: #f37b70;

            &:last-child {
                padding: 5px 30px 5px 10px;
            }
        }

        td {
            font-family: 'Montserrat', sans-serif;
            font-size: 25px ;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            padding: 11px 10px 11px 18px;
            width: 189px;

            &:last-child {
                padding: 11px 25px 11px 10px;
            }
        }
    }
}

.performance-table__contents,
.performance-table__head {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
}

.performance-table__head1 {
    position: relative;

    img {
        width: 120px;
        height: 32px;
        margin-right: 15px;
    }
}
.performance-table__head1-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    top: 7px;
    left: 0;
    max-width: 150px;
    margin: 0 auto;
    padding: 0 10px;
    color: white;
}

.performance-table__head2,
.performance-table__head3,
.performance-table__head4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    max-width: 150px;
    margin-right: 10px;
}

.performance-table__content1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    max-width: 150px;
    margin-right: 60px;
    color: #f37b70;
}

.performance-table__content2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    max-width: 150px;
    margin-right: 40px;
    color: #f37b70;
}

.performance-table__content3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    max-width: 150px;
    margin-right: 10px;
    color: #f37b70;
}

.performance-level__inner {
    position: relative;
}

.performance-level__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 15px 0;
    color: #f37b70;
}

.performance-level__content {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.performance-level__table {
    position: absolute;
    top: 20px;
    width: 100%;
}

.performance-level__table1 {
    width: 100%;

    th {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px ;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #f37b70;
        padding: 0 10px;
    }

    .performance-level__td--white {
        td {
            color: white !important;
        }
    }

    td {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px ;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #f37b70;
        padding: 10px;
    }
}

.performance-level__table2 {
    width: 100%;

    th {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px ;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #f37b70;
        padding: 5px 0 10px;
    }

    .performance-level__td--white {
        td {
            color: white !important;
        }
    }

    td {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px ;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #f37b70;
        padding: 10px 0;
    }
}

.performance-comment {
    padding: 35px 0;
    .performance-comment__inner {
        text-align: center;
        .performance-comment__title {
            font-size: 30px;
            color: #f37b70;
            font-weight: bold;
            text-transform: uppercase;
        }
        p {
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 23px;
        }
    }
}
.performance-comment__table {
    .performance-comment__table__inner {
        .performance-comment__table-content {
            position: relative;
            table {
                position: absolute;
                top: 15px;
                left: 10px;
                bottom: 0;
                right: 10px;
                margin: auto;
                width: auto;

                th {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px ;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 5px 10px;
                    // width: 189px;
                    width: 200px;
                    height: 200px;
                    .top {
                        font-size: 40px;
                        color: #f37b70;
                        font-weight: bold;
                        line-height: 30px;
                    }
                    .bottom {
                        display: block;
                        font-size: 24px;
                        color: #000;
                    }
                    &:last-child {
                        padding: 5px 30px 5px 10px;
                    }
                }

                td {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 19px ;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: left;
                    padding: 15px 18px;
                    vertical-align: top;
                    // width: 189px;

                   
                }
            }
        }
    }
}
.performance-comment-other__inner {
    .performance-comment-other__content {
        font-family: 'Montserrat', sans-serif;
        font-size: 19px ;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        background-color: #f0f0f0;
        height: 250px;
        border-radius: 10px;
        padding: 20px 25px;

    }
}

.performance-teacher {
    padding: 40px 0;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            width: 50%;
            float: left;
            text-align: center;
            text-transform: uppercase;
            font-size: 26px;
            span.top {
                margin-bottom: 40px;
                display: block;
            }
            span.bottom {
                font-weight: bold;
            }
        }
    }
}
.footer {
    position: relative;
    .performance-footer {
        position: absolute;
        right: 5%;
        bottom: 10%;
        .box_account {
            text-align: right;
            color: #fff;
            font-size: 28px;
            p {
                font-size: 26px;
                line-height: 30px;
            }
            
        }
    }
}