
.performance {
	background-color: white
}
@media (min-width: 1200px){
	.performance .container {
		width: 1270px;
	}
}

.performance-logo {
	margin-bottom: 20px
}

.performance-logo__background {
	position: relative;
	max-width: 100%;
	margin: 0 auto
}

@media (min-width:960px) {
	.performance-logo__background {
		max-width: 555px
	}
}

@media (min-width:1024px) {
	.performance-logo__background {
		max-width: 768px
	}
}

.performance-logo__content {
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	color: white
}

@media (min-width:960px) {
	.performance-logo__content {
		top: 70px
	}
}

@media (min-width:1024px) {
	.performance-logo__content {
		top: 100px
	}
}

.performance-logo__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase
}

@media (min-width:960px) {
	.performance-logo__title {
		font-size: 15px
	}
}

.performance-logo__sub-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase
}

@media (min-width:960px) {
	.performance-logo__sub-title {
		font-size: 15px
	}
}

.performance-title__inner {
	max-width: 100%;
	margin: 0 auto
}

@media (min-width:960px) {
	.performance-title__inner {
		max-width: 555px
	}
}

@media (min-width:1024px) {
	.performance-title__inner {
		max-width: 100%
	}
}

.performance-title__image {
	padding-bottom: 20px
}

.performance-title__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.performance-title__line--left {
	height: 15px;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 10px
}

.performance-title__line--right {
	height: 15px;
	width: 200px;
	margin-left: 20px;
	margin-bottom: 10px
}

.performance-title__label {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
	text-align: center
}

@media (min-width:960px) {
	.performance-title__label {
		font-size: 40px
	}
}

.performance-title__buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 20px
}

.performance-title__button {
	padding: 9px 20px 0;
	border: 4px solid #f37b1b;
	border-radius: 45px;
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
	margin: 0 5px 20px 5px;
	line-height: 1;
}

.performance-title__button--name {
	width: 350px;
	text-align: center
}

.performance-title__button--name {
	text-align: center
}

.performance-title__button-label {
	font-family: 'Baloo Tammudu 2', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #f37b70;
	line-height: 1;
}

.performance-title__button-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase
}

.performance-title__text {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px
}

.performance-table__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 40px
}

.performance-table__col--left {
	position: relative;
	margin-right: 30px
}

.performance-table__col--left table {
	position: absolute;
	top: 79px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%
}

.performance-table__col--left table th {
	font-family: 'Baloo Tammudu 2', sans-serif;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 10px;
	width: 189px;
	color: #f37b70
}

.performance-table__col--left table th:last-child {
	padding: 5px 30px 5px 10px
}

.performance-table__col--left table td {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 12px 10px 12px 18px;
	width: 189px
}

.performance-table__col--left table td:last-child {
	padding: 11px 25px 11px 10px
}

.performance-table__contents,
.performance-table__head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px
}
.performance-table__contents {
	align-items: flex-end;

}
.performance-table__head1 {
	position: relative
}

.performance-table__head1 img {
	width: 250px;
	height: 40px;
	margin-right: 15px
}

.performance-table__head1-label {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	position: absolute;
	top: 5px;
	left: 0;
	max-width: 324px;
	margin: 0 auto;
	padding: 0 10px;
	color: white
}

.performance-table__head2,
.performance-table__head3,
.performance-table__head4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	max-width: 150px;
	margin-right: 10px;
	line-height: 1;
}

.performance-table__content1 {
	font-family: 'Baloo Tammudu 2';
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	max-width: 210px;
	margin-right: 20px;
	color: #f37b70;
}

.performance-table__content2 {
	font-family: 'Baloo Tammudu 2';
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	max-width: 150px;
	margin-right: 40px;
	color: #f37b70
}

.performance-table__content3 {
	font-family: 'Baloo Tammudu 2';
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	max-width: 150px;
	margin-right: 10px;
	color: #f37b70
}

.performance-level__inner {
	position: relative
}

.performance-level__title {
	font-family: 'Baloo Tammudu 2', sans-serif;
	font-size: 38px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0 0px 0;
	color: #f37b70
}

.performance-level__content {
	position: relative;
	max-width: 600px;
	margin: 0 auto
}

.performance-level__table {
	position: absolute;
	top: 23px;
	width: 100%
}

.performance-level__table1 {
	width: 100%
}

.performance-level__table1 th {
	font-family: 'Baloo Tammudu 2', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #f37b70;
	padding: 0 10px
}

.performance-level__table1 td {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	/*color: #f37b70;*/
	padding: 3px 10px;
	line-height: normal;
}

.performance-level__table1 .performance-level__td--white td, .performance-level__table2 .performance-level__td--white td {
	color: white!important;
	font-size: 34px;
	font-family: 'Baloo Tammudu 2', sans-serif;
	padding: 5px 10px 0;
}

.performance-level__table2 {
	width: 100%
}

.performance-level__table2 th {
	font-family: 'Baloo Tammudu 2', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #f37b70;
	padding: 0px
}

.performance-level__table2 .performance-level__td--white td {
	color: white!important
}

.performance-level__table2 td {
	/* font-family: 'Baloo Tammudu 2', sans-serif; */
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	/* color: #f37b70; */
	padding: 10px 0
}

.performance-comment {
	padding: 35px 0
}

.performance-comment .performance-comment__inner {
	text-align: center
}

.performance-comment .performance-comment__inner .performance-comment__title {
	font-family: 'Baloo Tammudu 2';
	font-size: 38px;
	color: #f37b70;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
}

.performance-comment .performance-comment__inner p {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 29px;
	line-height: 1;
}

.performance-comment__table .performance-comment__table__inner .performance-comment__table-content {
	position: relative;
	background: #f0f0f0;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	display: block;
	content: "";
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
	border: 4px solid #f37b70;
	border-radius: 25px;
	background: white;

}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th {
	font-family: 'Baloo Tammudu 2', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 10px;
	width: 200px;
	height: 200px;
	position: relative;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th:after {
	position: absolute;
	bottom: -3px;
	left: 4px;
	display: block;
	content: "";
	width: calc(100% - 8px);
	height: 5px;
	background: url(../images/bg-line.png) no-repeat
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table tr:last-child th:after {
	display: none;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th .top {
	font-family: 'Baloo Tammudu 2';
	font-size: 50px;
	color: #f37b70;
	font-weight: bold;
	line-height: 30px
}

.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th .bottom {
	font-family: 'Montserrat';
	font-weight: 700;
	display: block;
	font-size: 24px;
	color: #000
}

.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table th:last-child {
	padding: 5px 30px 5px 10px
}

.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table tr {

}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table tr:last-child td{
	border-bottom: 0;
}
.performance-comment__table .performance-comment__table__inner .performance-comment__table-content table td {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	padding: 15px 18px;
	vertical-align: top;
	line-height: normal;
	border-bottom: 5px solid #f29e97;
}

.performance-comment-other__inner .performance-comment-other__content {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 21px;
	text-transform: uppercase;
	text-align: left;
	background-color: #f0f0f0;
	height: 250px;
	border-radius: 10px;
	padding: 20px 25px
}

.performance-teacher {
	padding: 40px 0
}

.performance-teacher ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.performance-teacher ul li {
	width: 50%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px
}

.performance-teacher ul li span.top {
	font-family: 'Montserrat';
	font-weight: 400;
	margin-bottom: 40px;
	display: block;
}

.performance-teacher ul li span.bottom {
	font-family: 'Montserrat';
	font-weight: 700;
	font-weight: bold
}

.footer {
	position: relative
}

.footer .performance-footer {
	position: absolute;
	right: 5%;
	bottom: 10%
}

.footer .performance-footer .box_account {
	font-family: 'Montserrat';
	font-weight: 400;
	text-align: right;
	color: #fff;
	font-size: 28px
}

.footer .performance-footer .box_account p {
	font-size: 26px;
	line-height: 30px
}
.footer .performance-footer .box_account b {
	font-weight: 700;
}